$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Bebas Neue', cursive;

$mobile-menu--show: 899px;
$mobile-menu--hide: 900px;

$menu-icon-text--show: 600px;
$menu-icon-text--hide: 599px;


$banner-responsive--tablet: 600px;
$banner-responsive--laptop: 900px;

$media--tablet: 600px;
$media--laptop: 900px;
$media--desktop: 1200px;